<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>{{ htmlTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <meta name="description" content="Website of David Hedges, poet of Oregon City, Oregon">
    <meta name="keywords" content="david hedges, poems, life" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap">
    <link href="/assets/styles.css" rel="stylesheet">
    <script defer src="/assets/behaviors.js"></script>
    <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "david.hedges.name",
      "image": "https://david.hedges.name/assets/img/david-washington-stonehenge.jpg",
      "description": "David Hedges, poet, satirist, rabble rouser"
    }
    </script>
  </head>
  <body>
    <header>
      <h1>{{{pageTitle}}}</h1>
      <nav>
        {{{navigation}}}
      </nav>
      {{{pageSubTitle}}}
    </header>
    <main>
      {{{ content }}}
    </main>
    <footer>
      <p>Copyright &copy; 2005 – 2020 David Hedges. All rights reserved.</p>
      <p><a target="_blank" href="https://twitter.com/OregonPoet">@OregonPoet</a></p>
    </footer>
  </body>
</html>
